body {
  max-width: 1600px;
  min-width: 1000px;
  min-height: 400px;
  margin: 0;
  padding: 0;
  background-color: white;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.page-header {
  max-width: 1170px;
  width: 100%;
  min-height: 190px;
  margin: auto;
  padding: 0;
  outline: 2px solid grey;
}
.page-header__top-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 1000px;
  min-height: 60px;
  font-size: 14px;
}
.page-header__top-wrapper a {
  color: black;
  text-decoration: none;
}
.page-header__nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  max-width: 620px;
}
.page-header__login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 175px;
  min-height: 60px;
  margin: 0 0 0 auto;
  padding: 0 20px 0 0;
  list-style: none;
}
.page-header__login-item {
  display: flex;
  flex-grow: 1;
  min-height: 60px;
}
.page-header__login-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0;
}
.page-header__bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 91px;
  padding-top: 40px;
  outline: 2px dashed grey;
}
.page-header__logo-wrapper {
  flex-shrink: 0;
  width: 276px;
}
.page-header__logo {
  height: 30px;
}
.page-header__contacts-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: auto;
  padding-left: 15px;
}
.page-header__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 620px;
  min-width: 500px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  color: #636363;
  list-style: none;
}
.page-header__trashcan {
  padding-right: 35px;
  padding-left: 90px;
}
.page-header__trashcan-link {
  color: black;
  text-decoration: none;
}
.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 236px;
  min-height: 60px;
  margin: 0 40px 0 0;
  padding: 0;
  list-style: none;
}
.social__item {
  width: 25px;
  height: 25px;
  background-color: #989898;
}
.social__item a {
  display: block;
  width: 100%;
  height: 100%;
}
.page-main {
  outline: 2px solid green;
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 442px;
  min-height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.main-nav__item a {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
